<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="header">Header</div>
        <div class="main">

            <div class="sidebar">
                <a href="#">Link1</a>
                <a href="#">Link2</a>
                <a href="#">Link3</a>
            </div>
            <div class="sidecontent">
                <div class="content">
                    <h2>Main</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel pariatur eum, aliquid necessitatibus
                        autem
                        libero earum sunt in velit optio aut a expedita unde magnam fugiat repudiandae eaque dolorem
                        totam.
                    </p>
                </div>
                <div class="box">
                    <div class="item" id="item1">Box1</div>
                    <div class="item" id="item2">Box2</div>
                    <div class="item" id="item3">Box3</div>
                    <div class="item" id="item4">Box4</div>
                </div>
            </div>
        </div>
        <div class="footer">Footer</div>
    </div>
</body>

</html>